:root {
    --primary-color: #FEFBF5;
    --secondary-color: #FCF9F6;
    --third-color: #FFCA2C;
        --border: solid 1px #F1EEE8;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.navbar {
    background-color: #FEFAF5;
    border: var(--border);
    border-radius: 5px;
}

.hero {
    background-color: var(--secondary-color);
}

.hero h2 {
    font-family: Poppins;
}

.hero h1 {
    font-family: Playfair Display;
}

.hero h3 {
    font-family: Poppins;
}

body {
    margin: 60px auto;
    max-width: 800px;
    background-color: #fefbf5;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {

    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.applications {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    display: inline-block;
}


@media (max-width: 768px) {
    body {
        margin: 30px auto;
        padding: 0 15px;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }
}
/*****About me html ******/
.about-me-section {
    background: var(--secondary-color);
    border: var(--border);
    border-radius: 15px;
    padding: 30px 20px;
}

.about-me-section .row {
    display: flex;
    justify-content: space-between;
}

.about-me-section h1 {
    font-size: 14px;
    text-align: left;
}

.about-me-section h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.about-me-section h3 {
    text-align: left;
}

.about-me-section p {
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.image-box {
    background: var(--secondary-color);
    border: var(--border);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-background-icon .col-3 {
    padding: 20px 15px;
    text-align: center;
}

.my-background-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 15px;
}

.my-background-icon p {
    margin: 0;
    font-size: 12px;
    line-height: 1.1;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.title span {
    width: 100px;
    height: 1px;
    background-color: gray;
}

.title h3 {
    margin: 0;
    font-size: 20px;
}
.btn-small {
    display: inline-block;
    font-size: 18px;
    padding: 8px 55px;
    line-height: 1.2;
    background: #ffdb6e;
    transition: all 1s ease-out;
    color: rgb(51, 51, 51);
    border-radius: 10px;
    text-decoration: none;

}

.btn-small:hover {
    background-color: #ffdb6e;
    border: solid 1px #FFCA2C;
}

.more-button {
    text-align: center;
}
.tech-icons {
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 5px;
}

.tech-icons p {
    font-size: 10px;
    margin: 0;
    padding: 0;

}

.tech-icons .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
}

.tech-icons .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}



.connect p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.connect a {
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    margin-top: 3px;
}

.connect .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 5px;

}

.connect .col-4 {
    padding: 0 5px;
}

.connect-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 5px;
}
/*****work html ******/

.project-image {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.container.projects p {
    font-size: 14px;
    text-align: center;
}