:root {
    --primary-color: #FEFBF5;
    --secondary-color: #FCF9F6;
    --third-color: #FFCA2C;
    --border: solid 1px #F1EEE8;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


/***** General *****/

body {
    margin: 60px auto;
    max-width: 800px;
    background-color: #FEFBF5;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.more-button {
    text-align: center;
}

/***** Navbar *****/

.navbar {
    background-color: #FEFAF5;
    border: var(--border);
    border-radius: 5px;
}

.nav-item.dropdown {
    position: relative;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    background-color: var(--secondary-color);
    border: none;
}


/***** Shared Sections *****/

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.title span {
    width: 100px;
    height: 1px;
    background-color: gray;
}

.title h3 {
    margin: 0;
    font-size: 20px;
}
.work-inquiry {
    margin-top: 16px;
}

.inquiry-box {
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 5px;
    padding: 25px 10px;
    margin: 48px 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.inquiry-text {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
}

.btn-inquiry {
    font-size: 18px;
    padding: 8px 20px;
    background-color: #FFCA2C;
    transition: all 1s ease-out;
    color: rgb(51, 51, 51);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.btn-inquiry:hover {
    background-color: #ffdb6e;
    border: solid 1px #FFCA2C;
}

/***** Home *****/

.hero {
    background-color: var(--secondary-color);
    border: var(--border);
    padding: 25px 0;
    margin: 50px auto;
}

.hero h2 {
    font-family: Poppins;
}

.hero h1 {
    font-family: Playfair Display;
}

.hero h3 {
    font-family: Poppins;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.applications {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}

.btn-learn-more {
    display: inline-block;
    font-size: 18px;
    padding: 8px 55px;
    line-height: 1.2;
    transition: all 1s ease-out;
    color: rgb(51, 51, 51);
    border-radius: 10px;
    text-decoration: none;
    border: solid 1px #FFCA2C;
}

.btn-learn-more:hover {
    background-color: #ffdb6e;
}

.btn-main {
    display: inline-block;
    font-size: 18px;
    padding: 8px 55px;
    line-height: 1.2;
    background: #ffdb6e;
    border: solid 1px #FFCA2C;
    transition: all 1s ease-out;
    color: rgb(51, 51, 51);
    border-radius: 10px;
    text-decoration: none;
}

.btn-main:hover {
    background-color: var(--primary-color);
    border: solid 1px #FFCA2C;
}
/***** About Me *****/
.about-me-section {
    background: var(--secondary-color);
    border: var(--border);
    border-radius: 15px;
    padding: 30px 20px;
}

.about-me-section .row {
    display: flex;
    justify-content: space-between;
}

.about-me-section h1 {
    font-size: 14px;
    text-align: left;
}

.about-me-section h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.about-me-section h3 {
    text-align: left;
}

.about-me-section p {
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.image-box {
    background: var(--secondary-color);
    border: var(--border);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-background-icon .col-3 {
    padding: 20px 15px;
    text-align: center;
}

.my-background-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 15px;
}

.my-background-icon p {
    margin: 0;
    font-size: 12px;
    line-height: 1.1;
    text-align: center;
}


/***** Technologies *****/

.tech-icons {
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 5px;
}

.tech-icons p {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.tech-icons .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
}

.tech-icons .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}


/***** Connect *****/

.connect p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.connect a {
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    margin-top: 3px;
}

.connect .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
}

.connect .col-4 {
    padding: 0 5px;
}

.connect-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 5px;
}


/***** Projects *****/

.project-image {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.container.projects p {
    font-size: 14px;
    text-align: center;
}
/***** Work Inquiry Form *****/
label {
    font-size: 20px;
}

.form {
    border: var(--border);
    border-radius: 10px;
}

.form .name,
.form .email,
.form .message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input,
.form textarea {
    width: 80%;
    height: 80px;
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 5px;
    text-align: justify;
}

.form input:focus,
.form textarea:focus {
    border: 2px solid #ffbf00;
    outline: none;
}

.form input {
    height: 30px;
    text-align: center;
}

.form button {
    font-size: 20px;
    display: block;
    margin: 20px auto;
    background-color: var(--third-color);
    padding: 10px 25px;
    border: var(--border);
    border-radius: 5px;
}

.form button:hover {
    background-color: #ffdb6e;
    border: 1px solid #ffbf00;
}

.title h1 {
    font-size: 45px;
}

.success-message {
    display: none;
    text-align: center;
}
/***** Footer *****/

footer p {
    font-size: 15px;
    text-align: center;
}

footer a {
    color: #885DF1;
    text-shadow: 1px 1px 2px rgba(80, 60, 0, 0.15);
    font-weight: bold;
}


/***** Responsive Design *****/

@media (max-width: 768px) {

    body {
        margin: 30px auto;
        padding: 0 15px;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }
}